/.cljs_rhino_repl
/.lein-env
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl*
/checkouts*
/resources/public/.compiled
.idea
*.iml
.figwheel/server.log
.nrepl-port
/.dirac-chrome-profile/
/.figwheel/
.rebel_readline_history
.test-dirac-chrome-profile