/.cljs_rhino_repl
/.lein-env
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl*
/checkouts/
/checkouts_/
/resources/public/_compiled
.idea
*.iml
.figwheel_server.log
.nrepl-port