sudo: true
dist: trusty
language: clojure
notifications:
  email:
  - antonin@hildebrand.cz
  hipchat:
    rooms:
      secure: DVlWKB/fENDEE2npIxz0MXln0VqWSraapOsaUP62FK3AkghKQ545YY1rrmpUxgZMBO011V/zs7FYBB1pvkkd3rKqGz6JbyesYhysYBata5qVYLstSBRRL6Fwrr3RJK+4xf9Qgg2GgUFZixAP+NpBK1FPKqNAgl58w9ZkMY0skAc=
    template:
    - '<a href="%{build_url}">%{repository}#%{build_number}</a>: %{message} (<a href="%{compare_url}">changes</a>)'
    format: html
cache:
  directories:
  - "$HOME/.m2"
before_install:
- yes y | sudo lein upgrade
